/*CSS Animations*/
/*Taken from: http://www.justinaguilar.com/animations/css/animations.css*/
.slideUp{
    visibility: hidden;
}
/*
==============================================
slideUp
==============================================
*/

.slideUp{
    animation-name: slideUp;
    -webkit-animation-name: slideUp;	

    animation-duration: 3s;	
    -webkit-animation-duration: 3s;

    animation-timing-function: ease;	
    -webkit-animation-timing-function: ease;

    visibility: visible !important;			
}
@keyframes slideUp{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@-webkit-keyframes slideUp{
    0%{
        -webkit-transform: translateY(100%);
    }
    100%{
        -webkit-transform: translateY(0%);
    }
}

.fadeIn{
    visibility: hidden;
}
/*
==============================================
fadeIn
==============================================
*/

.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;	

    animation-duration: 2s;	
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out;	
    -webkit-animation-timing-function: ease-in-out;		

    visibility: visible !important;	
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;		
    }
    100% {
        transform: scale(1);
        opacity: 1;	
    }		
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;		
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;	
    }		
}

.slideExpandUp{
    visibility: hidden;
}
/*
==============================================
slideExpandUp
==============================================
*/

.slideExpandUp{
    animation-name: slideExpandUp;
    -webkit-animation-name: slideExpandUp;	

    animation-duration: 1s;	
    -webkit-animation-duration: 1s;

    animation-timing-function: ease-out;	
    -webkit-animation-timing-function: ease -out;

    visibility: visible !important;	
}

@keyframes slideExpandUp {
    0% {
        transform: translateY(100%) scaleX(0.5);
    }
    100%{
        transform: translateY(0%) scaleX(1);		
    }
}

@-webkit-keyframes slideExpandUp {
    0% {
        -webkit-transform: translateY(100%) scaleX(0.5);
    }
    100%{
        -webkit-transform: translateY(0%) scaleX(1);		
    }
}
.hatch{
    visibility: hidden;
}
/*
==============================================
hatch
==============================================
*/

.hatch{
    animation-name: hatch;
    -webkit-animation-name: hatch;	

    animation-duration: .9s;	
    -webkit-animation-duration: .9s;

    animation-timing-function: ease-in-out;	
    -webkit-animation-timing-function: ease-in-out;

    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%; 

    visibility: visible !important;		
}

@keyframes hatch {
    0% {
        transform: rotate(0deg) scaleY(0.6);
    }
    35% {
        transform: rotate(2deg) scaleY(1);
    }
    }		
    100% {
        transform: rotate(0deg);
    }									
}

@-webkit-keyframes hatch {
    0% {
        -webkit-transform: rotate(0deg) scaleY(0.6);
    }
    35% {
        -webkit-transform: rotate(2deg) scaleY(1);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }		
}
/*
==============================================
stretchRight
==============================================
*/

.stretchRight{
    animation-name: stretchRight;
    -webkit-animation-name: stretchRight;	

    animation-duration: 8s;	
    -webkit-animation-duration: 8s;

    animation-timing-function: ease-out;	
    -webkit-animation-timing-function: ease-out;	

    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%; 		
}

@keyframes stretchRight {
    0% {
        transform: scaleX(0.2);
    }
    100% {
        transform: scaleX(1);
    }							
}

@-webkit-keyframes stretchRight {
    0% {
        -webkit-transform: scaleX(0.2);
    }
    100% {
        -webkit-transform: scaleX(1);
    }		
}
